.button{
    margin-left: 15px;
  }
  .todos .checked {
    text-decoration: line-through;
  }
  #card{
    margin: 50px;
  }
  .container {
    background-color: white;
    padding: 20px;
    
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .header {
    background: turquoise;
    color: white;
    padding: 20px;
  }
  h1 {
    align-self: stretch;
  }
  .todo{
    padding: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .mtop20{
    margin-top: 20px;
  }
  table{
    margin-top: 10px;
  }