<mat-card class="todos" id="card">
    <div class="container">
      <div class="header">
        <h1>TODO APP</h1>
      </div>
      <div class="todo">
        <form (submit)="addTodo($event)">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter text</mat-label>
            <input matInput [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
          </mat-form-field>
          <button mat-raised-button class="button" type="submit" color="primary" [disabled]="newTodo===''">Add Todo</button>
        </form>
      
      <div [hidden]="newTodo">
        Type in a new todo...
      </div>
      <div [hidden]="!newTodo">
        Typing: {{ newTodo }}
      </div>
      <table id="data">
        <tr>
          <th>Done</th>
          <th>Title</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let todo of todos; let i = index">
          <td>
            <mat-checkbox class="checkbox" [(ngModel)]="todo.completed"></mat-checkbox>
          </td>
          <td>
            <span [ngClass]="{ checked: todo.completed }">{{
              todo.newTodo
              }}</span>
          </td>
          <td>
            <mat-icon (click)="deleteTodo(i)" class="delete-icon">delete</mat-icon>
          </td>
        </tr>
      </table>
      
      <div class="mtop20">
        <button mat-raised-button color="warn" (click)="deleteSelectedTodos()">Delete Selected</button>
      </div>
    </div>
    </div>
  
  </mat-card>